#long-menu:last-child {
  margin-bottom: 0;
}

.notification-badge {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: rgb(170, 60, 60);
    color: white;
    font-size: 12px;
    padding: 4px;
    border-radius: 50%;
  }