$slides: 6;
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: transparent;
}

.wordStyle {
  margin-top: 5.5%;
  width: 10%;
  position: absolute;
  left: 14%;
  color: #2e1f85;
  // font-family: sans-serif;
  background-color: transparent;
  zindex: 100;
}
.word {
  font-size: 24px;
}

.swiper {
  width: 50%;
  margin-top: 6%;
}

@media (max-width: 1312px) {
  .wordStyle {
    width: 15%;
    left: 9%;
  }
}
@media (max-width: 900px) {
  .wordStyle {
    width: 18%;
    left: 7%;
  }
  .word {
    font-size: 20px;
  }
}
@media (max-width: 630px) {
  .wordStyle {
    width: 22%;
    left: 2%;
  }
  .word {
    font-size: 20px;
  }
}@media (max-width: 630px) {
  .container {
 height: 28vh;
 width: 100%;
  }
  .wordStyle {
   top: 0;
left: 40%;
margin-top: 0;
width: 100%;
  }
  .swiper {
    width: 80%;
    margin-top: 0;
  }
}
