
.instructorApply {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  padding: 3%;

  h3 {
    color: rgba(66, 107, 219, 0.815);
    margin-bottom: 1rem;
  }

  p {
    color: rgba(55, 131, 194, 0.712);
    border-bottom: 1px solid rgba(55, 132, 194, 0.034);
    margin-bottom: 1rem;
  }

  h5 {
    color: rgba(139, 22, 32, 0.829);
    margin-bottom: 0.5rem;
  }

  ul {
    padding-left: 3%;
    list-style: square;
    margin-bottom: 2rem !important;

    li {
      color: rgb(212, 210, 210);
      margin-bottom: 0.5rem;
      border-bottom: 1px solid rgba(185, 185, 185, 0.034);
    }
  }

  h6 {
    font-weight: 600;
    margin-bottom: 1rem;
    color: white;
    margin-left: auto;
    margin-right: auto;
  }

  .applyBtn {
    display: flex;
    justify-content: flex-end;
  }
}

.applyInstForm {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  .applyFormHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
    .applybtnForm {
        display: flex;
        gap: 1rem;
        justify-content: flex-end
    }
}

@media screen and (max-width: 768px){
  h3 {
    font-size: 24px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 20px !important;
  }

  h6 {
    font-size: 16px !important;
  }
}