.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.course-avatar {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: 50%;
  overflow: hidden;
}

.course-header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  gap: 2;
}
